<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo02.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.example.demo02.entity.Menu">
        <id property="id" column="id"></id>
        <result property="pattern" column="pattern"></result>
        <collection property="roles" ofType="com.example.demo02.entity.Role">
            <id property="id" column="rid"></id>
            <result property="name" column="rname"></result>
            <result property="nameZh" column="rnameZh"></result>
        </collection>
    </resultMap>
	<select id="getAllMenus" resultMap="BaseResultMap">
        select m.*, r.id as rid, r.name as rname, r.nameZh as rnameZh from menu m
        left join menu_role mr on m.id = mr.mid
        left join role r on mr.rid = r.id
    </select>

</mapper>
